.slider-container {
  position: relative;
}

.collection {
  padding: 0 8px;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 100;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid gray;
}

.slider-btn:hover {
  scale: 1.1;
  transition: all 300ms ease;
  box-shadow: 5px 5px 30px 0 rgba(0, 0, 0, 0.2);
}

.chevron-previous {
  left: 0;
}

.chevron-next {
  right: 0;
}
